<html>
<head>
	<title> Confirm Registration </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="col-lg-12">
		<h1 class= "page-header"> Confirm Registration </h1>
		<div class="form-group"> 
			<label> Name : </label>
			{{data.name}}
		</div>
		<div class="form-group"> 
			<label> Email : </label>
			{{data.email}}
		</div>
		<div class="form-group"> 
			<label> Course : </label>
			{{data.course}}
		</div>
		<div class="form-group"> 
			<label> Branch : </label>
			{{data.branch}}
		</div>
		<div class="form-group"> 
			<label> Contact : </label>
			{{data.contact}}
		</div>
		<div class="form-group"> 
			<label> College : </label>
			{{data.college}}
		</div>
		<div class="form-group"> 
			<label> Year </label>
			{{data.year}}
		</div>
	</div>
	<form method="POST" action="{% url 'thanks' %}">
		{% csrf_token %}
		<input type="submit" value="Confirm" >
	</form>
</body>
</html>