{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel=
	"stylesheet" type="text/css" href="{% static "css/default.css" %}">
	{% block title %}
	<title> Admin Login </title>
	{% endblock %}
</head>
<body>
	<div  id="page">
		<div id="sidebar">
			{% block sidebar %} 

			{% endblock %}
		</div>
		<div id="content">
	     {% block content %}
	     <h1> Admin Login </h1>
	 <form method="POST">
		{% csrf_token %}
		<label for="username"> Username : </label>
		<input type="text" name="username" id="username">
		<br>&nbsp;&nbsp;&nbsp;&nbsp;
		<br>
		<label for="password"> Password : </label>
		<input type="password" name="password" id="password">
		<input type="submit" id="submitbtn" name="submitbtn" value="Login">
	</form>
			{% endblock %}
</div>
</div>
</body>


