{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zealicon 2k17</title>


    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css"%}" rel="stylesheet">

    <link href="{% static "bower_components/metisMenu/dist/metisMenu.min.css"%}" rel="stylesheet">

    <link href="{% static "dist/css/timeline.css"%}" rel="stylesheet">

    <link href="{% static "dist/css/sb-admin-2.css"%}" rel="stylesheet">

    <link href="{% static "bower_components/morrisjs/morris.css"%}" rel="stylesheet">

    <link href="{% static "bower_components/font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static "js/confirm.js" %}"></script>


        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>

    <div id="wrapper">


        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Zealicon'17</a>
            </div>
    

            <ul class="nav navbar-top-links navbar-right">
                
                
        
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/user/my_profile"><i class="fa fa-user fa-fw"></i> My Profile</a></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
            
                </li>
        
            </ul>
    

             <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="/index"><i class="fa fa-dashboard fa-fw"></i> Home </a>
                        </li>
                        <li>
                            <a href="/index/register/"><i class="fa fa-pencil fa-fw"></i> New Participant </a>
                        </li>
                        <li>
                            <a href="/index/search/"><i class="fa fa-user fa-fw"></i> Already Registered </a>
                        </li>
                        <li>
                            <a href="/index/register/confirm/print/"><i class="fa fa-print fa-fw"></i> Print </a>
                        </li>
                        <li>
                            <a href="/custom"><i class="fa fa-print fa-fw"></i> Custom Search </a>
                        </li>
                           {% if request.user.groups.all.0.name == 'quanta' %}
                        <li>
                            <a href="/view_record"><i class="fa fa-book fa-fw"></i> View Records </a>
                        </li>
                            {%endif%}

                    </ul>
                </div>
        
            </div>
    
        </nav>

        <div id="page-wrapper">
            {% if error %} <h2 style="margin:30px 20px;"> No I-Cards To Print. </h2>
            {% else %}
            <h2 style="margin:30px 20px;">Thanks for registering.</h2>
            <div class="row">
                <div class="col-sm-3">
                    <a href="/print/" target="_blank" onclick ="reset_session()" class="btn btn-primary">Print Id Cards {{length}} </a>
                </div>
                <div class="col-sm-3">
                    <a href="/reset" class="btn btn-danger">Reset current session</a>
                </div>
                <div class="col-sm-3">
                    <a href="/index" class="btn btn-primary">Register new participant</a>
                </div>
                <div class="col-sm-3">
                    <a href="/print/receipt" target="_blank" class="btn btn-primary"> Print Receipts {{length}}</a>
                </div>
            </div>
        {% endif %}
        </div>

    <script src="{% static "bower_components/jquery/dist/jquery.min.js"%}"></script>

    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js"%}"></script>

    <script src="{% static "bower_components/metisMenu/dist/metisMenu.min.js"%}"></script>

    <script src="{% static "bower_components/raphael/raphael-min.js"%}"></script>
    <script src="{% static "bower_components/morrisjs/morris.min.js"%}"></script>
    <script src="{% static "js/morris-data.js"%}"></script>
    <script src="{% static "dist/js/sb-admin-2.js"%}"></script>
</body>

</html>
