{% load static %}

<html>
<head>
  <title> Zealicon 2k16 </title>
</head>
<body>

<style>
    .container{
      display: flex;
      margin:auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;      
    }
    .i-card{
        max-width: 300px;
        height: 191px;
        border: 2px solid #ccc;
        padding: 0 1%;
        display: flex;
        margin:25px 0;
    }
    
    .logo{
        text-align: center;
    }
    
    .logo img{
        padding: 15% 0 5%;
        display: block;
        height: 50%;
        max-width: 100%;
    }
    .details{
        text-align: right;
    }
    .details p{}
    </style>
    <p>
    <a href="/index"> Home </a>
    <input type="button" value="Print" onClick="window.print()">
    <input type="button" value="Back" onClick="history.go(-1)">
    <input type="button" value="Reset Counter">
  </p>
  {% if error %}
  <p><strong> Sorry ! </strong> No ID cards to print</p>
  {% else %}
  {% for i in participant_obj %}
<div class="container">
  <div class="i-card">
    <div class="logo">
        <img src="{% static "images/zeal_logo.png" %}">
        <p>JSSATEN<br>www.zealicon.in</p>
    </div>
    <div class="details">
     <p>     
     <strong>Name</strong><br>
       {{i.name}}<br>
         <strong>Zeal ID</strong><br>
       {{i.zeal_id}}<br>
         <strong>Email</strong><br>
       {{i.email}}<br>
         <strong>College</strong><br>
       {{i.college}}
       </p>          
    </div>
  </div>
  
<!-- {{forloop.counter}} -->
<!--   <div class="i-card">
    <div class="logo">
        <img src="{% static "images/zeal_logo.png" %}">
        <p>JSSATEN<br>www.zealicon.in</p>
    </div>
    <div class="details">
     <p>     
     <strong>Name</strong><br>
       {{i.name}}<br>
         <strong>Zeal ID</strong><br>
       {{i.zeal_id}}<br>
         <strong>Email</strong><br>
       {{i.email}}<br>
         <strong>College</strong><br>
       {{i.college}}
       </p>          
    </div>
  </div> -->

  {% endfor %}
{% endif %}



  <!-- <div class="i-card">
    <div class="logo">
        <img src="{% static "images/zeal_logo.png" %}">
        <p>JSSATEN<br>www.zealicon.in</p>
    </div>
    <div class="details">
     <p>     
     <strong>Name</strong><br>
       Rishabh<br>
         <strong>Zeal ID</strong><br>
       Z-0001<br>
         <strong>Email</strong><br>
       rishabh123@gmail.com<br>
         <strong>College</strong><br>
       JSS Academy of Technical Education
       </p>          
    </div>
  </div>
  <div class="i-card">
    <div class="logo">
        <img src="{% static "images/zeal_logo.png" %}">
        <p>JSSATEN<br>www.zealicon.in</p>
    </div>
    <div class="details">
     <p>     
     <strong>Name</strong><br>
       Rishabh<br>
         <strong>Zeal ID</strong><br>
       Z-0001<br>
         <strong>Email</strong><br>
       rishabh123@gmail.com<br>
         <strong>College</strong><br>
       JSS Academy of Technical Education
       </p>          
    </div>
  </div>   
  <div class="i-card">
    <div class="logo">
        <img src="{% static "images/zeal_logo.png" %}">
        <p>JSSATEN<br>www.zealicon.in</p>
    </div>
    <div class="details">
     <p>     
     <strong>Name</strong><br>
       Rishabh<br>
         <strong>Zeal ID</strong><br>
       Z-0001<br>
         <strong>Email</strong><br>
       rishabh123@gmail.com<br>
         <strong>College</strong><br>
       JSS Academy of Technical Education
       </p>          
    </div>
  </div> 
  <div class="i-card">
    <div class="logo">
        <img src="{% static "images/zeal_logo.png" %}">
        <p>JSSATEN<br>www.zealicon.in</p>
    </div>
    <div class="details">
     <p>     
     <strong>Name</strong><br>
       Rishabh<br>
         <strong>Zeal ID</strong><br>
       Z-0001<br>
         <strong>Email</strong><br>
       rishabh123@gmail.com<br>
         <strong>College</strong><br>
       JSS Academy of Technical Education
       </p>          
    </div>
  </div>
  <div class="i-card">
    <div class="logo">
        <img src="{% static "images/zeal_logo.png" %}">
        <p>JSSATEN<br>www.zealicon.in</p>
    </div>
    <div class="details">
     <p>     
     <strong>Name</strong><br>
       Rishabh<br>
         <strong>Zeal ID</strong><br>
       Z-0001<br>
         <strong>Email</strong><br>
       rishabh123@gmail.com<br>
         <strong>College</strong><br>
       JSS Academy of Technical Education
       </p>          
    </div>
  </div>
  <div class="i-card">
    <div class="logo">
        <img src="{% static "images/zeal_logo.png" %}">
        <p>JSSATEN<br>www.zealicon.in</p>
    </div>
    <div class="details">
     <p>     
     <strong>Name</strong><br>
       Rishabh<br>
         <strong>Zeal ID</strong><br>
       Z-0001<br>
         <strong>Email</strong><br>
       rishabh123@gmail.com<br>
         <strong>College</strong><br>
       JSS Academy of Technical Education
       </p>          
    </div>
  </div>   
  <div class="i-card">
    <div class="logo">
        <img src="{% static "images/zeal_logo.png" %}">
        <p>JSSATEN<br>www.zealicon.in</p>
    </div>
    <div class="details">
     <p>     
     <strong>Name</strong><br>
       Rishabh<br>
         <strong>Zeal ID</strong><br>
       Z-0001<br>
         <strong>Email</strong><br>
       rishabh123@gmail.com<br>
         <strong>College</strong><br>
       JSS Academy of Technical Education
       </p>          
    </div>
  </div>            
</div> -->

</body>
</html>


