{% load staticfiles %}

<html>
<head>
	<title> Online Registration </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{% static "js/ajax.js" %}"></script>
</head>
<body>
		<div class="col-lg-6">
			<h3> Search Online Registration </h3>
			<br> 
			<br>
			{% csrf_token %}
			<input type="text" id="search" name="search" />
			<ul id="search-results">

			</ul>
		</div>


		<div class="col-lg-6">
			<a href="/index"> Back </a>
		</div>
</body>
</html>
