{% load static %}

<html>
<head>
	<title> Register </title>
</head>
<body>
	<form method="POST">
		{% csrf_token %}
		<label for="name"> Name: </label>
		<input id="name" name="name" type="text" placeholder="Enter your name" value="{{zeal_id_temp.0.2}}" required>

		<label for="email"> Email: </label>
		<input id="email" name="email" type="email" placeholder="Enter your Email" value="{{zeal_id_temp.0.3}}" required>

		<label for="course"> Course : </label>
		<select  id="course" name="course"> 
			<option value="Btech" {% if zeal_id_temp.0.4 == "Btech" %} selected="selected" {% endif %}>Btech </option>
			<option value="MBA" {% if zeal_id_temp.0.4 == "MBA"%} selected="selected" {% endif %} > MBA </option>
			<option value="MCA" {% if zeal_id_temp.0.4 == "MCA"%} selected="selected" {% endif %}>MCA </option>
			<option value="MAM" {% if zeal_id_temp.0.4 == "MAM"%} selected="selected" {% endif %}>MAM</option>
			<option value="Mtech" {% if zeal_id_temp.0.4 == "Mtech"%} selected="selected" {% endif %}>Mtech</option>
		</select>

		<label class="control-label" for="branch" > Branch : </label>
			<select name="branch">
				<option value="" {% if zeal_id_temp.0.5 == "" %} selected="selected" {% endif %} ></option>
				<option value="CSE" {% if zeal_id_temp.0.5 == "CSE" %} selected="selected" {% endif %} >CSE </option>
				<option value="IT" {% if zeal_id_temp.0.5 == "IT" %} selected="selected" {% endif %} >IT</option>
				<option value="EE" {% if zeal_id_temp.0.5 == "EE" %} selected="selected" {% endif %} >EE </option>
				<option value="ECE" {% if zeal_id_temp.0.5 == "ECE" %} selected="selected" {% endif %} >ECE </option>
				<option value="CE" {% if zeal_id_temp.0.5 == "CE" %} selected="selected" {% endif %} >CE</option>
				<option value="IC" {% if zeal_id_temp.0.5 == "IC" %} selected="selected" {% endif %} >IC </option>
				<option value="ME" {% if zeal_id_temp.0.5 == "ME" %} selected="selected" {% endif %} >ME </option>
				<option value="MT" {% if zeal_id_temp.0.5 == "MT" %} selected="selected" {% endif %} >MT </option>
			</select>

		<label class="control-label" for ="contact"> Contact : </label>
			<input id="contact" name="contact" type="text" placeholder="Enter your 10 digit Contact number" pattern ="\d{10}" maxlength=10 value="{{zeal_id_temp.0.6}}" required>

		<label class="control-label" for="college"> College :</label>
			<input type="text" id="college" name="college" placeholder="Enter the college name" value="{{zeal_id_temp.0.7}}" required>

			<label class="control-label" for="year"> Year : </label>
				<select  id="year" name="year" >
					<option value="FIRST" {% if zeal_id_temp.0.8 == "FIRST" %} selected="selected" {% endif %} >FIRST</optio>
					<option value="SECOND" {% if zeal_id_temp.0.8 == "SECOND" %} selected="selected" {% endif %} >SECOND</option>
					<option value="THIRD" {% if zeal_id_temp.0.8 == "THIRD" %} selected="selected" {% endif %} >THIRD</option>
					<option value="FOURTH" {% if zeal_id_temp.0.8 == "FOURTH" %} selected="selected" {% endif %} >FOURTH</option>
				</select>

		<input type="submit" id="submitbtn" name="submitbtn"value="Register">
	</form>
</body>

</html>