{% load static  %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Register </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{% static "js/showhide.js" %}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
</head>
	<body class="white-text">
		<section class="container-fluid">
			<div class="mainContainer" style="opacity:0.9;">
				<h1 class="text-center"> Registration Form </h1>
				<form role="form" method="POST" action="" id="registerform">
					{% csrf_token %}
					<div class="form-group">
						<label class="control-label" for ="name"> Name : </label>
						<input id="name" name="name" type="text" placeholder="Enter your name" class="form-control input md" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="email"> Email : </label>
						<input id="email" name="email" type="email" placeholder="Enter your Email" class="form-control input md" required>
					</div>
					<div>
						<label class="control-label" for="course"> Course : </label>
						<select  id="course" name="course">
							<option value="Btech"> Btech </option>
							<option value="MBA"> MBA </option>
							<option value="MCA">MCA </option>
							<option value="MAM">MAM</option>
							<option value="Mtech">Mtech</option>
						</select>
					</div>
					<div id="branch">
						<label class="control-label" for="branch" > Branch : </label>
						<select  name="branch">
							<option value="CSE">CSE </option>
							<option value="IT">IT</option>
							<option value="EE">EE </option>
							<option value="ECE">ECE </option>
							<option value="CE">CE</option>
							<option value="IC">IC </option>
							<option value="ME">ME </option>
							<option value="MT">MT </option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label" for ="contact"> Contact : </label>
						<input id="contact" name="contact" type="text" placeholder="Enter your 10 digit Contact number" pattern ="\d{10}" maxlength=10 class="form-control input md" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="college"> College :</label>
						<input type="text" id="college" name="college" placeholder="Enter the college name" class="form-control input md" required>
					</div>
					<div>
						<label class="control-label" for="year"> Year : </label>
						<select  id="year" name="year">
							<option value="FIRST">FIRST</option>
							<option value="SECOND">SECOND</option>
							<option value="THIRD">THIRD</option>
							<option value="FOURTH">FOURTH</option>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" id="submitbtn" name="submitbtn" class="btn btn-primary" value="Register">
					</div>
				</form>
			</div>
		</section>
		<div>
			<a href="/index">Back </a>
		</div>
	</body>
</html>

