.form-control, .form-control : focus, .btn{
	border-radius: 0;
	box-shadow: none;
}
input.form-control{
	margin:0;
}
label{
	font-weight:300;
}

.mainContainer{
background-color: #fff;
box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.3);
margin: auto;
margin-top:2%;
padding : 3% 20px;
max-width : 450px;
width:100%;
border-radius: 2px;
}

.mainContainer h1{
	font-size: 2em;
	margin-top:0;
}

.btn{
	background:#34495E;
	border : 0;
	display: block;
	width: 100%;
	max-width: 200px;
	margin : auto;
}
body{
	background: #fff;
}

