{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class ="row">
        <div class="col-lg-6 col-lg-offset-3">
            <br>
            <br>
            <div class="form-group">
                <label class="control-label" for ="name"> Name : </label>
                <input id="name" name="name" type="text" value="{{data.name}}" class="form-control input md" disabled>
            </div><br>
            <div class="form-group">
                <label class="control-label" for="email"> Email : </label>
                <input id="email" name="email" type="email" Value="{{data.email}}" class="form-control input md" disabled>
            </div><br>

            <div class="form-group">
                <label class="control-label" for="course"> Course : </label>
                <input id="course" name="course" type="text" Value="{{data.course}}" class="form-control input md" disabled>
            </div><br>
            
            <div id="branch_hide" class="form-group">
                <label class="control-label" for="branch" > Branch : </label>
                <input id="branch" name="branch" type="text" Value="{{data.branch}}" class="form-control input md" disabled>
            </div><br>

            <div class="form-group">
                <label class="control-label" for ="contact"> Contact : </label>
                <input id="contact" name="contact" type="text" Value="{{data.contact}}" pattern ="\d{10}" maxlength=10 class="form-control input md" disabled>
            </div><br>
            <div class="form-group">
                <label class="control-label" for="college"> College :</label>
                <input type="text" id="college" name="college" Value="{{data.college}}" class="form-control input md" disabled>
            </div><br>
            <div class="form-group">
                <label class="control-label" for="year"> Year : </label>
                 <input type="text" id="year" name="year" Value="{{data.year}}" class="form-control input md" disabled>
            </div><br>
             <div class="form-group">
                <label class="control-label" for="year"> Fee : </label>
                 <input type="text" id="fee" name="fee" Value="{{data.fee}}" class="form-control input md" disabled>
            </div><br>
            <div class="form-group">
                <form method="POST" action="{% url 'confirm' %}">
                     {% csrf_token %}
                        <input type="hidden" name="name" value="{{data.name}}">
                        <input type="hidden" name="email" value="{{data.email}}">
                        <input type="hidden" name="course" value="{{data.course}}">
                        {% if data.branch %}
                        <input type="hidden" name="branch" value="{{data.branch}}">
                        {% endif %}
                        <input type="hidden" name="contact" value="{{data.contact}}">
                        <input type="hidden" name="college" value="{{data.college}}">
                        <input type="hidden" name="year" value="{{data.year}}">
                        <input type="hidden" name="fee" value="{{fee}}">

                        <button type="submit" id="submitbtn" name="submitbtn" class="col-lg-offset-3 btn btn-primary btn-lg" value="Back" onClick="history.go(-1)">Edit</button>
                         <input type="submit" id="submitbtn" name="submitbtn" class="col-lg-offset-1 btn btn-primary btn-lg" value="Confirm">
                </form>
            </div>
        </div>           
    </div>

{% endblock %}
