{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div id="page-wrapper">
            <div class="row">
                {% if error %}
                <div class="col-lg-12">
                    <h1 class="page-header text-center">User Not Registered . Click <a href="index/register"> here </a> to register.</h1>
                </div>
                {% else %}
                <div class="col-lg-12">
                    <h1 class="page-header text-center">Search Participant</h1>
                </div>
            
            </div>
        
            <div class="row">
                <br><br><br><br>
                <form method="POST">
                    {% csrf_token %}
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="form-group">
                        <label>Enter the Email Id:</label>
                        <input type="text" name="search" id="search" class="form-control">
                        <p class="help-block">Example: abc@gmail.com </p>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="submitbtn" name="submitbtn" class="col-lg-offset-1 btn btn-primary btn-lg" value="Search">
                    </div>
                </div>
            </form>
            </div>
    </div>
    {% endif %}

{% endblock %}
