{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                <table class="table">
                <col width="100">
                <col width="200">
                <col width="200">
                <col width="250">
                <col width="300">
                <col width="250">
                    <tr style="font-size: 20px">
                        <th>S.No</th>
                        <th>Username</th>
                        <th>Society</th>
                        <th>No. of College Registrations</th>
                        <th>No. of Other College Registrations</th>
                        <th>Amount</th>
                    </tr>
                        {% for i in transaction %}
                    <tr style="font-size:20px">
                        <td align="left">{{forloop.counter}}</td>
                        <td align="left">{{i.username}}</td>
                        <td align="left">{{i.society}}</td>
                        <td align="left">{{i.jss_registration}}</td>
                        <td align="left">{{i.other_registration}}</td>
                        <td align="left">{{i.amount}}</td>
                        {% endfor %}
                        </tr>
                    <tr style="font-size:20px">
                        <td> Total:</td>
                        <td>{{amount}}</td>
                    </tr>
                </table>
            </div>
            </div>
            
        </div>
{% endblock %}
